
//colores

$mainColor:  rgba(190, 198, 202, 0.767);
$secondaryColor: rgba(190, 198, 202, 0.521);
$blackColor: rgb(52, 52, 53);
$lightColor: rgb(122, 120, 120);

//sizies

$fontXl: 2.5em;

$fontL: 2em;

$fontM: 1.3em;

$headerWidth: 100%;

$headerHeight: 80vh;